.main-center{
    width: 80%;
    margin: 10vh auto 2vh auto;
}
.image-rest{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.down-div{
    width: 80%;
    margin: 0 auto;
    height: 62vh;
}
h2{
    text-align: left;
}